* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Helvetica, sans-serif;
  background-color: #01473a;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.movie {
  background-color: #00ffdf;
  color: #01473a;
  border-radius: 0.25rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}
.details-container {
  padding: 0 2rem;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.movie-details {
  background-color: #00ffdf;
  max-width: 400px;
  color: #01473a;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.movie-details > div {
  margin-bottom: 1rem;
}
